@media screen and (max-width: 768px) {
  .blogDocToc {
    display: none;
  }
  #sidebarContent {
    display: none;
  }
  .blogDocContent {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  .blogDocSidebar {
    position: fixed;
    z-index: 99;
  }
  .blogDocToc {
    margin-left: 83.33334%;
    position: fixed;
    z-index: 99;
  }
  #sidebarConsoleBtn {
    display: none;
  }
  .blogDocContent {
    padding-top: 100px;
  }
}
.blogDocSidebar {
  padding-top: 100px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.blogDocContent {
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.blogDocContent .td-content {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  font-weight: 400;
}

.blogDocToc {
  padding-top: 100px;
}

.blogDocSidebar a {
  display: block;
  font-weight: 500;
  padding-bottom: .25rem;
  font-size: 16px;
}

.blogDocSidebar .active {
  font-weight: 600;
}

.blogDocSidebar .active2 {
  font-weight: 800;
}

.blogDocSidebar ul {
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
}

.blogDocSidebar li {
  list-style: none;
}

.blogDocSidebar a {
  color: #0b0b0b;
  display: block;
  font-weight: 300;
  padding-bottom: .25rem;
}

.rssIcon {
  position: absolute;
  top: 9.5rem;
  right: 1rem;
  z-index: 22;
}

.rssIcon:hover, .rssIcon:active, .rssIcon:focus {
  background: unset !important;
  text-decoration: underline;
  color: #2577f3;
}

#blogList .panel-title a {
  color: #f5f5f5;
  font-size: 22px;
}

#blogList .panel-body a {
  color: #2577f3;
  font-size: 22px;
}

#blogList .panel-body {
  font-size: 18px;
}

.pagination > li {
  font-size: 1rem;
  font-weight: bold;
}

.td-page-meta {
  padding-top: .5rem!important;
  padding-bottom: .25rem!important;
  margin-left: .5rem!important;
  margin-bottom: 0!important;
}

.td-page-meta a {
  display: block;
  font-weight: 500;
  padding-bottom: .25rem;
  font-size: 16px;
}

#TableOfContents ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
}

#TableOfContents li {
  list-style: none;
  display: block;
}

#TableOfContents a {
  color: #888;
  display: block;
  font-weight: 300;
  padding-bottom: .25rem;
}

.section-index a {
  font-size: 18px;
  font-weight: 700;
}

.section-index p {
  margin-top: 0;
}
.section-index p, .section-index li, .section-index td {
  font-weight: 400;
}
.section-index h1, .section-index h2, .section-index h3, .section-index h4, .section-index h5, .section-index h6 {
  margin: 0 0 0 0;
}

.lastmodDiv {
  font-size: 16px;
  font-weight: 400;
}