.bone {
    width: 24px;
    height: 2px;
    position: relative;
}

.bone::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 0;
    top: -2px;
}

.bone::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: 0;
    top: -2px;
}

.bone-dark {
    background-color: #1161F6;
}

.bone-dark::before {
    background-color: #1161F6;
}

.bone-dark::after {
    background-color: #1161F6;
}

.bone-light {
    background-color: #fff;
    opacity: 0.8;
}

.bone-light::before {
    background-color: #fff;
    opacity: 0.8;
}

.bone-light::after {
    background-color: #fff;
    opacity: 0.8;
}

.bar {
    margin-top: 66px;
    background-image: linear-gradient(-90deg, #267DF7 0%, #267DF7 51%, #267DF7 100%);
}

.bar .bar-body {
    max-width: 1280px;
    margin: 0 auto;
    height: 200px;
    line-height: 200px;
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #FFF;
    position: relative;
}

.bar .bar-body .bar-title {
    display: inline-block;
    line-height: 1;
}

.bar .bar-body .bar-title .bone {
    margin-top: 6px;
}

.bar .bar-body .front-img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin: 0 28px 0 40px;
}

.bar .bar-body .back-img {
    width: 160px;
    height: 160px;
    position: absolute;
    right: 168px;
    bottom: 0;
    opacity: 0.15;
}

@media screen and (max-width: 640px) {
    .bar .bar-body .front-img {
        margin-left: 20px;
    }
}

.slider {
    overflow: hidden;
}

.slider .slider-list {
    overflow: visible;
}

.slider .slider-list .slider-screen {
    display: inline-flex;
    justify-content: space-around;
    overflow: hidden;
}

.slider .slider-control {
    text-align: center;
    margin-top: 30px;
}

.slider .slider-control .slider-control-item {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4px;
    background: #ccc;
}

.slider .slider-control .slider-control-item-active {
    width: 12px;
    height: 12px;
    background: #1161f6;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.events-section .events-body {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
}

@media screen and (max-width: 640px) {
    .events-section .events-body {
        padding: 0;
    }
}

.events-section .events-body h3 {
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin: 82px 0 40px;
}

.events-section .events-body .event-card {
    width: 373px;
    font-size: 0;
}

.events-section .events-body .event-card img {
    width: 373px;
    height: 209px;
}

@media screen and (max-width: 320px) {
    .events-section .events-body .event-card {
        width: 320px;
    }

    .events-section .events-body .event-card img {
        width: 320px;
        height: 179px;
    }
}

.events-section .events-body .event-card .event-introduction {
    padding: 20px;
    background: #F8F8F8;
}

.events-section .events-body .event-card .event-introduction h4 {
    font-family: Avenir-Heavy;
    font-size: 20px;
    color: #333;
    margin: 0 0 10px;
}

.events-section .events-body .event-card .event-introduction p {
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #666;
    margin: 0;
}

.events-section .events-body .event-card .event-introduction a {
    display: inline-block;
    width: 100%;
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

.events-section .events-body .event-card .event-introduction a .arrow {
    width: 8px;
    height: 13px;
    float: right;
}

.contact-section .contact-body {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 40px 0;
}

@media screen and (max-width: 640px) {
    .contact-section .contact-body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contact-section .contact-body h3 {
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin: 0 auto 20px;
    max-width: 735px;
}

.contact-section .contact-body p {
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 0 0 50px;
}

.contact-section .contact-body .contact-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-section .contact-body .contact-list .contact-item {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    font-family: Avenir-Heavy;
    font-size: 18px;
    color: #999;
}

.contact-section .contact-body .contact-list .contact-item:hover {
    color: #2E3034;
}

.contact-section .contact-body .contact-list .contact-item img {
    width: 82px;
    height: 86px;
}

.contributor-section .contributor-body {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 40px 0;
}

.contributor-section .contributor-body h3 {
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin: 0 auto 20px;
    max-width: 735px;
}

.contributor-section .contributor-body p {
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 0 0 50px;
}

.contributor-section .contributor-body .contributor-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contributor-section .contributor-body .contributor-list .contributor-item {
    display: inline-block;
    width: 240px;
    text-align: center;
    font-family: Avenir-Heavy;
    font-size: 18px;
    color: #999;
}

.contributor-section .contributor-body .contributor-list .contributor-item img {
    width: 82px;
    height: 86px;
}

.eco-section {
    padding: 120px 25% 0;
    margin: 0 auto;
}

.eco-section h3 {
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin: 0 0 20px;
}

.eco-section .eco-item {
    margin-bottom: 30px;
}

.eco-section .eco-item h4 {
    font-family: Avenir-Heavy;
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}

.eco-section .eco-item p {
    font-family: Avenir-Medium;
    font-size: 14px;
    color: #666;
    text-align: justify;
    margin: 12px 0;
}

.eco-section .eco-item .tags a {
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 2px;
    text-align: center;
    margin: 0 10px 10px 0;
}
